@import './variables.scss';

// 主题背景
.theme-bg {
    height: 100vh;

    background: $light-blue;
    background: -webkit-linear-gradient(to top, $tiffany 10%, $light-blue 70%);
    background:         linear-gradient(to top, $tiffany 10%, $light-blue 70%);
}

// 底部弹层
.silde-wrap {
    margin-top: 20rpx;
    margin-left: 1.5%;
    border-radius: 50rpx 50rpx 0 0;
    padding: 35rpx 0 260rpx 0;
    width: 97%;
    height: 100%;

    background: #f7f7f7;

    // @extend .shadow-lg;

    &__fixed {
        position: absolute;
        bottom: 0;
        z-index: 30;

        margin-left: 1.5%;
        border-radius: 50rpx 50rpx 0 0;
        padding: 50rpx 0 120rpx 0;
        width: 97%;
        height: 85vh;

        background: #f7f7f7;
    }
}

// tab栏
.custom-nav {
    .cu-item {
        height: 80rpx;

        line-height: 80rpx;

        color: #ededed;
        background: transparent;

        transition: font-size .7s;

        .title {
            &:before {
                position: absolute;
                left: 1000px;

                margin-left: -5rpx;
                border-radius: 50px;
                width: 0rpx;
                height: 8rpx;

                background-color: white;

                transition: width .3s;

                content: ' ';
            }
        }
    }

    .active {
        position: relative;

        font-size: 36rpx;
        font-weight: 600;

        color: white;

        .title {
            &:before {
                position: absolute;
                bottom: 6rpx;
                left: 50%;

                margin-left: -25rpx;
                border-radius: 50px;
                width: 50rpx;
                height: 8rpx;

                background-color: white;

                content: ' ';
            }
        }
    }
}

.loading-wrap {
    display: flex;

    height: 50vh;

    justify-content: center;
    align-items: center;

    image {
        width: 30%;
    }
}
